.user-card{
    display: flex;
    flex-direction: column;
    background-color: #ab4381;
    color: black;
    justify-content:start;
    align-items: start;
    border : 2px solid rgb(240, 233, 233);
    border-radius: 10px;
    padding: 8px 12px;
    margin: 10px;
}
.user-card-title{
    margin-top: 0;
    margin-bottom: 0;
    color: white;
    font-size: 20px;
}
.user-card-text{
    margin-top: 0;
    margin-bottom: 0;
    color: white;
}